.cards {
    display: flex;
    justify-content: center;
}

.cards a {
    display: flex;
    justify-content: center;
}

.cards section {
    background: #08287254;
    border-radius: 20px;
    margin: 25px;
    padding: 20px;
    width: 500px;
    height: 250px;
}

.cards img:hover {
    transform: translateY(-7px);
    cursor: pointer;
    transition-duration: 0.5s;
}