.btn {
    margin-top: 7%;
}

.btn button {
    background-color: #74FAC0;
    color: black;
    width: 437px;
    height: 74px;
    border-radius: 15px;
    border-style: none;
    font-size: 29px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
}

.btn button:hover {
    background-color: #266147;
    color: aliceblue;
    cursor: pointer;
}