.btn button {
    background-color: transparent;
    border: 2px solid aliceblue;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
}

.btn button:hover {
    color: aliceblue;
    background-color: #010B28;
    transform: translateY(-7px);
    transition-duration: 0.5s;
}